window {
  background-color: #1a1b26;
}

* {
  font-family: "Jetbrains Mono";
  color: #fff;
}

#scroll {
  padding: 0.3rem;
}

#input {
  background-color: #1a1b26;
  color: #c0caf5;
  outline: none;
  box-shadow: none;
  border: 0;
  margin-top: 12px;
  border-radius: 0;
  font-size: 20px;
}

#inner-box {
  margin-top: 10px;
  font-size: 18px;
  font-family: "JetBrains Mono";
  font-weight: 700;
}

#img {
  margin: 5px
}

#entry {
  border-radius: 1rem;
}

#entry:selected {
  background-color: #c0caf5;
  outline: none;
}

#text:selected {
  color: #790000;
}

